.face.from{
  background-image: url("~assets/guti.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 2.3em;
  width: 2.3em;
  border: gray 0px none !important;
}

.face.to{
  background-image: url("~assets/user.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 2em;
  width: 2em;
  float: right;
}

.message {
  border-radius: 50px;
  margin: 0 15px 10px;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
  font-size: 1.3rem;
  max-width: initial !important;
}

.texto{
  justify-content: center;
  align-self: center;
}

//Mensaje de usuario
.message.to {
  background-color: #2095FE;
  color: #fff;
  margin-left: 100px;
  text-align: right;
  width: fit-content;
  margin-left: auto;
}
//Mensaje de bot
.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 100px;
  width: fit-content;
  margin-right: auto;

}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -10px;
}

//Contenedor de mensajes
.mycomp{
  display: block;
  min-height: 20em;
  max-height: 20em;
  padding-top: 1em;
  overflow: hidden;
  overflow-y: scroll;
}

.container{
  width: auto;
  background-color: rgb(36,93,148);
  border: 0px solid gray;
  border-radius: 5px 5px 0px 0px;
  margin: 0;
  padding: 0.2rem;
}

.texto{
  margin: 0;
  color: white;
}

.btn{
  color: white;
  padding: 0;
  margin: 0;
  width: auto;
}

.fas{
  width: auto;
}

.btnsend{
  background-color: rgb(226,138,50);
  border: none;
  border-radius: 0;
}

.cont{
  background-color: rgb(36,93,148);
  margin: 0;
  width: auto;
}

.row{
  padding: 0;
  margin: 0;
}

::placeholder{
  color: white;
  opacity: 0.5;
}

.texto{
  color: white;
}

.fas{
  font-size: 1.5em;
}

*{
  width: 25em;
}

.toform{
  color: #fca103;
}